* {
    box-sizing: border-box;
    margin: 0;
}

#topmenu {
    height: 120px;
    width: 100%;
    position: fixed;
    background-color: #0c673c;
}

#topmenu_text {
    position: absolute;
    left: 45px;
    top: 9px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: #F9D529;
}

#topmenu_list {
    position: absolute;
    bottom: 22px;
    left: 260px;
}

#topmenu_list_item {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    word-spacing: 1px;
    font-size: larger;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#topmenu_list_item>div {
    position: relative;
    cursor: pointer;
    transition: 0.4s all ease;
    color: #F9D529;
    margin: 0 10px;
}

#topmenu_list_item>div:hover {
    transition: 0.4s all ease;
}

#topmenu_list_item>div::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    /*nam duoi day danh sach*/
    left: 0;
    background-color: #F9D529;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.5s ease-out;
}

#topmenu_list_item>div:hover::after {
    transform: scaleX(1);
}

#topmenu_icon {
    position: absolute;
    right: 0px;
    top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    color: white;
}

#topmenu_icon>div {
    font-size: 23px;
    width: 20px;
    margin: 0 15px;
    position: relative;
}

#topmenu_icon>div:hover {
    transition: 0.5s all ease;
    cursor: pointer;
    transform: translateY(-5px);
}

#topmenu_icon--bar {
    display: none;
}

img {
    max-width: 100%;
    height: 100%;
}

#find {
    position: fixed;
    width: 100%;
    background-color: #0c673c;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}

#find_wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

#findspace {
    background-color: #0c673c;
    outline: none;
    border: none;
    width: 95%;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: #F9D529 solid 2px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#finditem {
    width: 30%;
    height: 120px;
    color: white;
}

#finditem>h4 {
    color: #F9D529;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#exit {
    border: none;
    background-color: #0c673c;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 3%;
    top: 20px;
}

input::placeholder {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input[type="radio"] {
    appearance: none;
    /* Bỏ kiểu mặc định */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #F9D529;
    cursor: pointer;
    position: relative;
    /*chỉnh vị trí dấu check*/
    margin-right: 10px;
}

input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #F9D529;
}

input[type="text"] {
    width: 90%;
    /* Chiều rộng cho ô nhập */
    padding: 10px;
    /* Khoảng cách bên trong */
    margin-top: 3px;
    /* Khoảng cách trên */
    border: 2px solid #F9D529;
    /* Màu viền */
    border-radius: 5px;
    /* Bo góc nhẹ */
    background-color: #0c673c;
    /* Màu nền */
    color: white;
    /* Màu chữ */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* Font chữ */
}

input[type="text"]::placeholder {
    color: white;
    /* Màu chữ cho placeholder */
}

#bar {
    width: 30%;
    height: 100vh;
    position: fixed;
    display: block;
    transition: transform 0.4s;
}

#bar_wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

#bar_text {
    width: 100%;
    height: 70px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: #F9D529;
    background-color: #0c673c;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bar_list {
    width: 100%;
    background-color: #D3D3D3;
    height: calc(100% - 130px);

}

#bar_bottom {
    width: 100%;
    height: 70px;
    font-weight: bolder;
    color: #F9D529;
    background-color: #0c673c;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bar ul {
    width: 100%;
    margin-left: -40px;
}

#bar li {
    border-bottom: solid 1px;
    cursor: pointer;
    transition: transform 0.4s;
    font-weight: bolder;
    padding: 10px;

}

#bar li:hover {
    transform: translateX(10px);
}

@media only screen and (max-width:860px) {
    #topmenu_list {
        display: none;
        /* Ẩn danh sách menu */
    }

    #topmenu_text {
        position: absolute;
        left: 50%;
        /* Đưa chữ vào giữa */
        transform: translateX(-50%);
        /* Căn giữa chữ */
    }

    #topmenu_icon {
        position: relative;
        top: 0;
        height: 70px;
        width: 100%;
    }

    #topmenu_icon--find {
        position: absolute;
        left: 50%;
    }

    #topmenu_icon--user {
        position: absolute;
        left: -50%;
    }

    #topmenu_icon--love {
        position: absolute;
        display: none;

    }

    #topmenu_icon--bag {
        position: absolute;
        right: -7%;

    }

    #topmenu_icon--bar {
        position: absolute;
        left: -7%;
        display: block;
    }



}